.app-container {
  height: 100%;
  .title {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
  }
}
.chart-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.checkbox-container {
  display: flex;
  justify-content: center;
}
